USE [BikeSales]
GO
/****** Object:  UserDefinedFunction [dbo].[Avg_Distance]    Script Date: 01-04-2026 15:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER FUNCTION [dbo].[Avg_Distance] 
(
	-- Add the parameters for the function here
	@Commute_distance Varchar(10)
)
RETURNS Decimal(18,2)
AS
BEGIN
	-- Declare the return variable here

	RETURN(
	-- Add the T-SQL statements to compute the return value here
	SELECT 
		CASE
			WHEN @Commute_distance = '0-1 Miles' THEN 0.5
			WHEN @Commute_distance = '1-2 Miles' THEN 1.5
			WHEN @Commute_distance = '2-5 Miles' THEN 3.5
			WHEN @Commute_distance = '5-10 Miles' THEN 7.5
			WHEN @Commute_distance = '10+ Miles' THEN 10
		END as avg_distance 
	-- Return the result of the function
	);
END
