USE [BikeSales]
GO
/****** Object:  StoredProcedure [dbo].[Create_Views_Eduacation]    Script Date: 01-04-2026 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Create_Views_Eduacation] 
	-- Add the parameters for the stored procedure here
AS
	DECLARE @TableName VARCHAR(100);
	DECLARE @TrimTableName VARCHAR(100);
	DECLARE @RecordCount INT;
-- Declare the cursor variable
	DECLARE @curTables CURSOR;
	DECLARE @TotalCount INT;
	DECLARE @SQL NVARCHAR(MAX);
BEGIN
	SET @curTables = CURSOR FOR (SELECT Distinct(Education) FROM [BikeSales].[dbo].[Bike_Sales]);

	OPEN @curTables;
	FETCH NEXT FROM @curTables INTO @TableName;

	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		--PRINT @TableName;
	SET @TrimTableName = (SELECT REPLACE(@TableName, ' ', '') AS StringWithoutSpaces);
	DECLARE @SafeTableName NVARCHAR(128) = QUOTENAME(TRIM(@TrimTableName) + 'View');

-- 2. Concatenate the filter value directly into the string
--    Use '''' (four single quotes) to escape the string literal for @TableName
	SET @SQL = N'CREATE OR Alter VIEW dbo.' + @SafeTableName + ' AS ' + 
           N'SELECT * FROM [BikeSales].[dbo].[Bike_Sales] WHERE Education =''' + trim(@TableName) + '''';

	PRINT(@SQL)
-- 3. Execute without passing the @params argument
	EXEC (@SQL); 

		FETCH NEXT FROM @curTables INTO @TableName;
	END;

	CLOSE @curTables;
	DEALLOCATE @curTables;
	END
