USE [RishabhTestDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_Staging_tables]    Script Date: 01-04-2026 15:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_Staging_tables] 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @table_name NVARCHAR(128);
    DECLARE @sql NVARCHAR(MAX);

    -- Use a Cursor instead of a While loop with Row_Number (much cleaner/faster)
    DECLARE table_cursor CURSOR FOR 
    SELECT TABLE_NAME 
    FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_SCHEMA = 'dbo' AND TABLE_TYPE = 'BASE TABLE';

    OPEN table_cursor;
    FETCH NEXT FROM table_cursor INTO @table_name;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- 1. IF TABLE DOESN'T EXIST: Create it
        IF OBJECT_ID(QUOTENAME('Staging') + '.' + QUOTENAME(@table_name), 'U') IS NULL
        BEGIN
            SET @sql = 'SELECT * INTO Staging.' + QUOTENAME(@table_name) + ' FROM dbo.' + QUOTENAME(@table_name);
            EXEC sp_executesql @sql;
            PRINT 'Created table Staging.' + @table_name;
        END
        ELSE
        BEGIN
            -- 2. SYNC COLUMNS: Check if dbo has columns that Staging is missing
            SET @sql = '';
            SELECT @sql = @sql + 'ALTER TABLE Staging.' + QUOTENAME(@table_name) + 
                         ' ADD ' + QUOTENAME(COLUMN_NAME) + ' ' + DATA_TYPE + 
                         CASE WHEN CHARACTER_MAXIMUM_LENGTH IS NOT NULL THEN '(' + CAST(CHARACTER_MAXIMUM_LENGTH AS VARCHAR) + ')' ELSE '' END + ';'
            FROM INFORMATION_SCHEMA.COLUMNS c_dbo
            WHERE TABLE_NAME = @table_name AND TABLE_SCHEMA = 'dbo'
            AND NOT EXISTS (
                SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS c_stg 
                WHERE c_stg.TABLE_NAME = @table_name AND c_stg.TABLE_SCHEMA = 'Staging' 
                AND c_stg.COLUMN_NAME = c_dbo.COLUMN_NAME
            );

            IF @sql <> '' EXEC sp_executesql @sql;

            -- 3. SYNC DATA: Insert only missing rows
            -- Note: This still assumes no Primary Key. If you have a PK, use a MERGE or NOT EXISTS.
            SET @sql = 'INSERT INTO Staging.' + QUOTENAME(@table_name) + 
                       ' SELECT * FROM dbo.' + QUOTENAME(@table_name) + 
                       ' EXCEPT SELECT * FROM Staging.' + QUOTENAME(@table_name);
            
            EXEC sp_executesql @sql;
            PRINT 'Updated data for Staging.' + @table_name;
        END

        FETCH NEXT FROM table_cursor INTO @table_name;
    END

    CLOSE table_cursor;
    DEALLOCATE table_cursor;
END
