USE [BikeSales]
GO
/****** Object:  UserDefinedFunction [dbo].[Distance_Avg]    Script Date: 01-04-2026 15:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[Distance_Avg] 
(	
	-- Add the parameters for the function here

)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT Communte_Distance,
		CASE
			WHEN Communte_Distance = '0-1 Miles' THEN 0.5
			WHEN Communte_Distance = '1-2 Miles' THEN 1.5
			WHEN Communte_Distance = '2-5 Miles' THEN 3.5
			WHEN Communte_Distance = '5-10 Miles' THEN 7.5
			WHEN Communte_Distance = '10+ Miles' THEN 10
		END as avg_distance
	from BikeSales.[dbo].[FilterBikeSales]

)
